* {
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

body {
  overflow: hidden;
}
#root {
  height: 100vh;
  overflow: scroll;
}

.uppercase {
  text-transform: uppercase;
}

a:link {
  color: inherit;
}
a:visited {
  color: inherit;
}