.cards--item {
  border-radius: 10px;
}

.cards--item--link {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 250, 0.17);
  filter: drop-shadow(0 6px 20px rgba(56, 125, 250, 0.017));
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 250, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards--item--img--wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.cards--item--img--wrap::after {
  content: attr(data-category);
  text-transform: capitalize;
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1d93ee;
  box-sizing: border-box;
}

.cards--item--img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .2s linear;
}
.cards--item--img:hover {
  transform: scale(1.1);
}

.cards--item--info {
  flex: 1;
  padding: 20px 30px 30px;
}
.cards--item--text {
  color: #232b43;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 740px) {
  .cards--item {
    margin-bottom: 2rem;
  }
}