.cards {
  padding: 4rem;
  background-color: #fff;
}

h1 {
  text-align: center;
}

.cards-container {
  display: flex;
  align-items: center;
  flex-flow: column;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto
}

.cards-wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards-items {
  margin-bottom: 24px;
  list-style: none;
}

@media screen and (min-width: 740px) {
  .cards-items {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .cards-items {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}